{% extends 'mysite/base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 font-italic border-bottom">Django Brog</h3>

      {% for article in pagi_articles %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <p class="blog-post-meta">
          {{ article.created_at }} by
          <a href="/blog/{{ article.id }}">{{ article.author }}</a>
        </p>
        <p>{{ article.text }}</p>
        <a href="/blog/{{ article.id }}">続きはこちら</a>
      </div>
      <hr>
      {% endfor %}

      <nav class="blog-pagination">
        <div class="pagination">
          <span class="step-links">
          {% if pagi_articles.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-outline-primary" href="?page={{ pagi_articles.previous_page_number }}">previous</a>
          {% endif %}

          {% if pagi_articles.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ pagi_articles.next_page_number }}">next</a>
            <a class="btn btn-outline-primary" href="?page={{ pagi_articles.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
          </span>
        </div>
      </nav>
    </div>

    {% include 'mysite/snippets/sidebar.html' %}

  </div>
</main>

</nav>

{% endblock %}
